<div id="forca">
  <img [src]="imagem" alt="Forca" *ngIf="condicaoImagem()==0">
</div>
<div id="forca">
  <img [src]="imagem" alt="Forca" *ngIf="condicaoImagem()==1">
</div>
<div id="forca">
  <img [src]="imagem" alt="Forca" *ngIf="condicaoImagem()==2">
</div>
<div id="forca">
  <img [src]="imagem" alt="Forca" *ngIf="condicaoImagem()==3">
</div>
<div id="forca">
  <img [src]="imagem" alt="Forca" *ngIf="condicaoImagem()==4">
</div>
<div id="forca">
  <img [src]="imagem" alt="Forca" *ngIf="condicaoImagem()==5">
</div>
<div id="forca">
  <img [src]="imagem" alt="Forca" *ngIf="condicaoImagem()==6">
</div>

<!-- <div id="forca" *ngIf="vida == 6">
  <p class="pSuper">__________</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| </p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
</div>
<div id="forca" *ngIf="vida == 5">
  <p class="pSuper">__________</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
</div>
<div id="forca" *ngIf="vida == 4">
  <p class="pSuper">__________</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
</div>
<div id="forca" *ngIf="vida == 3">
  <p class="pSuper">__________</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| </p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
</div>
<div id="forca" *ngIf="vida == 2">
  <p class="pSuper">__________</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| </p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/|\</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
</div>
<div id="forca" *ngIf="vida == 1">
  <p class="pSuper">__________</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| </p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/|\</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
</div>
<div id="forca" *ngIf="vida == 0">
  <p class="pSuper">__________</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| </p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/|\</p>
  <p class="pLateral">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ \</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
  <p class="pLateral">|</p>
</div>
 -->
