#dica{
  text-align: center;
  font-size: 0.40em;
  color: #E3D216;
  background-color: #04B431;
}
#caixa-forca{
  z-index: 0px;
  height: 330px;
}
#caixa-lacunas{
  position: relative;
  width: 600px;
  height: 50px;
  top: -50px;
  left: 450px;
  z-index: 10;
}
.lacunas{
  float: left;
  height: 20px;
  margin: 0px 5px;
  color: brown;
}

#app-input{
  clear: both;
}
#mensagemFim{
  width: 600px;
  color: #04B431;
  margin:0px auto;
  text-align: center;
  font-size: 0.75em;
}


